Repository goldforestdev/HPPK-TOCTW, pull requests merged in 2019-11, with the labels that each got.

#18 자녀 등록 화면 구현
  app/build.gradle
  app/src/androidTest/java/com/hppk/toctw/ExampleInstrumentedTest.kt
  app/src/androidTest/java/com/hppk/toctw/data/source/local/LocalChildrenDaoTest.kt
  app/src/main/java/com/hppk/toctw/data/model/Stamp.kt
  app/src/main/java/com/hppk/toctw/data/repository/ChildrenRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ChildrenDao.kt
  app/src/main/java/com/hppk/toctw/data/source/local/AppDatabase.kt
  app/src/main/java/com/hppk/toctw/data/source/local/LocalChildrenDao.kt
  app/src/main/java/com/hppk/toctw/ui/MainActivity.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenContract.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/children/avatars/AvatarsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/avatars/AvatarsDialog.kt
  app/src/main/java/com/hppk/toctw/ui/splash/SplashActivity.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsContract.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsPresenter.kt
  app/src/main/res/drawable/ic_add.xml
  app/src/main/res/drawable/ic_add_circle.xml
  app/src/main/res/drawable/ic_add_circle_outline.xml
  app/src/main/res/drawable/ic_boy.xml
  app/src/main/res/drawable/ic_boy2.xml
  app/src/main/res/drawable/ic_boy3.xml
  app/src/main/res/drawable/ic_boy4.xml
  app/src/main/res/drawable/ic_boy5.xml
  app/src/main/res/drawable/ic_boy6.xml
  app/src/main/res/drawable/ic_boy7.xml
  app/src/main/res/drawable/ic_boy8.xml
  app/src/main/res/drawable/ic_girl.xml
  app/src/main/res/drawable/ic_girl2.xml
  app/src/main/res/drawable/ic_girl3.xml
  app/src/main/res/drawable/ic_girl4.xml
  app/src/main/res/drawable/ic_girl5.xml
  app/src/main/res/drawable/ic_girl6.xml
  app/src/main/res/drawable/ic_girl7.xml
  app/src/main/res/drawable/ic_girl8.xml
  app/src/main/res/drawable/ic_unknown_kid.xml
  app/src/main/res/drawable/selector_add.xml
  app/src/main/res/layout/dialog_avatars.xml
  app/src/main/res/layout/fragment_children.xml
  app/src/main/res/layout/item_add_child.xml
  app/src/main/res/layout/item_avatar.xml
  app/src/main/res/layout/item_child.xml
  app/src/main/res/layout/item_child_simple.xml
  app/src/main/res/menu/nav_drawer.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/hppk/toctw/data/repository/ChildrenRepositoryTest.kt
  app/src/test/java/com/hppk/toctw/data/source/local/ConvertersTest.kt
  app/src/test/java/com/hppk/toctw/ui/children/ChildrenPresenterTest.kt
Labels: main feature

#21 Stamps UI 기본 구현
  .idea/codeStyles/Project.xml
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/data/model/Stamp.kt
  app/src/main/java/com/hppk/toctw/data/repository/BoothRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/BoothDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreBoothDao.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsPresenter.kt
  app/src/main/res/drawable/ic_stamp_hp.xml
  app/src/main/res/drawable/ic_stamp_hp_empty.xml
  app/src/main/res/drawable/select_mission_clear_bg.xml
  app/src/main/res/drawable/select_stamp_bg.xml
  app/src/main/res/drawable/shape_circle_border.xml
  app/src/main/res/drawable/shape_mission_clear_bg.xml
  app/src/main/res/drawable/shape_mission_clear_bg_pre.xml
  app/src/main/res/drawable/shape_stamp_bg.xml
  app/src/main/res/drawable/shape_stamp_bg_pre.xml
  app/src/main/res/layout/fragment_children.xml
  app/src/main/res/layout/fragment_stamps.xml
  app/src/main/res/layout/item_child.xml
  app/src/main/res/layout/item_stamp.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#23 각 층별 색상 구분 / Stamp 부스는 별도 표시
  app/build.gradle
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
  app/src/main/res/drawable/ic_stamp_booth.xml
  app/src/main/res/layout/item_booth_list.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
Labels: main feature

#25 Child 삭제 구현
  app/src/main/java/com/hppk/toctw/data/repository/ChildrenRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ChildrenDao.kt
  app/src/main/java/com/hppk/toctw/data/source/local/LocalChildrenDao.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenContract.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenPresenter.kt
  app/src/main/res/drawable/ic_close.xml
  app/src/main/res/layout/item_child.xml
  app/src/main/res/layout/item_child_simple.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#26 FIX - S7에서 카메라 관련하여 죽는 문제
  app/build.gradle
Labels: bug

#29 Booth Detail정보 기본 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/details/BoothDetailsActivity.kt
  app/src/main/res/drawable/ic_arrow_back.xml
  app/src/main/res/layout/activity_booth_details.xml
  app/src/main/res/layout/item_booth_list.xml
  app/src/main/res/values/styles.xml
Labels: main feature

#31 자녀별로 QR Code Scan하여 Stamp 찍고 저장하는 기능 구현
  app/src/main/java/com/hppk/toctw/data/model/Stamp.kt
  app/src/main/java/com/hppk/toctw/data/repository/BoothRepository.kt
  app/src/main/java/com/hppk/toctw/data/repository/StampRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ChildStampDao.kt
  app/src/main/java/com/hppk/toctw/data/source/StampDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreBoothDao.kt
  app/src/main/java/com/hppk/toctw/data/source/local/AppDatabase.kt
  app/src/main/java/com/hppk/toctw/data/source/local/LocalChildStampDao.kt
  app/src/main/java/com/hppk/toctw/data/source/local/LocalStampDao.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsContract.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCameraFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCodeAnalyzer.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCodeContract.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCodePresenter.kt
  app/src/main/res/drawable/shape_circle_border.xml
  app/src/main/res/layout/item_stamp.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/hppk/toctw/data/repository/StampRepositoryTest.kt
  app/src/test/java/com/hppk/toctw/data/source/local/ConvertersTest.kt
  app/src/test/java/com/hppk/toctw/ui/stamps/qrcamera/QRCodePresenterTest.kt
Labels: main feature

#32 Stamp UI 개선
  .idea/codeStyles/Project.xml
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsContract.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsPresenter.kt
  app/src/main/res/drawable/ic_stamp_hp.xml
  app/src/main/res/drawable/ic_stamp_hp_empty.xml
  app/src/main/res/layout/fragment_stamps.xml
  app/src/main/res/layout/item_stamp.xml
  app/src/main/res/layout/item_stamp_label.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#33 Contact
  app/build.gradle
  app/src/main/java/com/hppk/toctw/ui/MainActivity.kt
  app/src/main/java/com/hppk/toctw/ui/info/ContactFragment.kt
  app/src/main/res/drawable/ic_contact.xml
  app/src/main/res/layout/fragment_contact.xml
  app/src/main/res/menu/nav_drawer.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#34 Booth 붐빔 정도를 Staff 입력 할 수 있는 기능 추가
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/data/repository/BoothRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/BoothDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreBoothDao.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothStaffDialog.kt
  app/src/main/res/drawable/radio_busy.xml
  app/src/main/res/drawable/radio_busy_busy_states.xml
  app/src/main/res/drawable/radio_busy_close_states.xml
  app/src/main/res/drawable/radio_busy_good_states.xml
  app/src/main/res/drawable/radio_busy_normal_states.xml
  app/src/main/res/drawable/radio_busy_text.xml
  app/src/main/res/drawable/radio_close.xml
  app/src/main/res/drawable/radio_good.xml
  app/src/main/res/drawable/radio_normal.xml
  app/src/main/res/drawable/radio_off.xml
  app/src/main/res/drawable/radio_off_states.xml
  app/src/main/res/layout/dialog_staff_booth.xml
  app/src/main/res/layout/item_booth_list.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/dimens.xml
Labels: main feature

#35 info ui 기본 구현
  app/src/main/java/com/hppk/toctw/data/repository/BoothRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/BoothDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreBoothDao.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/info/InfoFragment.kt
  app/src/main/res/drawable/go_youtube.png
  app/src/main/res/drawable/go_youtube.webp
  app/src/main/res/drawable/ic_circle_blue.xml
  app/src/main/res/drawable/ic_circle_green.xml
  app/src/main/res/drawable/ic_circle_red.xml
  app/src/main/res/drawable/ic_info.xml
  app/src/main/res/drawable/ic_place.xml
  app/src/main/res/drawable/img_restaurant.webp
  app/src/main/res/drawable/img_schedule.webp
  app/src/main/res/drawable/toctw2019.png
  app/src/main/res/drawable/toctw2019.webp
  app/src/main/res/drawable/toctw2019_detail.png
  app/src/main/res/drawable/toctw2019_detail.webp
  app/src/main/res/layout/fragment_info.xml
  app/src/main/res/layout/item_booth_list.xml
  app/src/main/res/layout/layout_info_lunch.xml
  app/src/main/res/layout/layout_info_schedule.xml
  app/src/main/res/menu/nav_drawer.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#36 settings toolbar 추가
  app/src/main/res/layout/dialog_avatars.xml
  app/src/main/res/layout/fragment_settings.xml
  app/src/main/res/values/styles.xml
Labels: bug

#37 일반 사용자가 BoothBusy 표시 영역을 누르면 아무런 동작 하지 않는 이슈 수정
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
Labels: bug

#39 FIX - Developer 화면의 up 버튼
  app/src/main/java/com/hppk/toctw/ui/settings/DevelopersFragment.kt
Labels: bug

#41 Navigation Drawer Header 아이콘 및 문구 적용
  app/src/main/res/drawable/logo.webp
  app/src/main/res/layout/drawer_header.xml
Labels: main feature

#43 Firebase Cloud Message 사용하여 공지 알림 구현
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hppk/toctw/MyFirebaseMessagingService.kt
  app/src/main/java/com/hppk/toctw/auth/AppAuth.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/home/AddNoticeFragment.kt
  app/src/main/java/com/hppk/toctw/ui/home/HomeAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/home/HomeFragment.kt
  app/src/main/java/com/hppk/toctw/ui/settings/DevelopersFragment.kt
  app/src/main/java/com/hppk/toctw/ui/splash/SplashActivity.kt
  app/src/main/res/drawable/ic_stat_ic_notification.png
  app/src/main/res/layout/item_home_header.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#45 Children 좌우 마진 값 조절
  .idea/codeStyles/Project.xml
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenContract.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildContract.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/children/avatars/AvatarsDialog.kt
  app/src/main/res/drawable/ic_person_add.xml
  app/src/main/res/drawable/ic_person_add_gray.xml
  app/src/main/res/drawable/ic_unknown_kid.xml
  app/src/main/res/drawable/shape_child_bg.xml
  app/src/main/res/layout/fragment_add_child.xml
  app/src/main/res/layout/fragment_children.xml
  app/src/main/res/layout/item_child.xml
  app/src/main/res/menu/menu_add_child.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: bug

#46 Collapsedlayout 적용된 화면의 테마 변경
  app/src/main/res/layout/activity_booth_details.xml
  app/src/main/res/layout/fragment_info_lunch.xml
  app/src/main/res/layout/fragment_info_schedule.xml
  app/src/main/res/values/colors.xml
Labels: ui

#50 BoothDetails Fragment로 변환
  .idea/codeStyles/Project.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothStaffDialog.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/StaffsAdapter.kt
  app/src/main/res/layout/fragment_booth_details.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: refactoring

#53 FIX - 안내 사항 성능 이슈
  app/src/main/res/drawable/img_restaurant.webp
  app/src/main/res/drawable/img_schedule.webp
Labels: bug

#54 Review 기능 기본 구현
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/java/com/hppk/toctw/common/Commons.kt
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/data/model/User.kt
  app/src/main/java/com/hppk/toctw/data/repository/ReviewRepository.kt
  app/src/main/java/com/hppk/toctw/data/repository/UserRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ReviewDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreReviewDao.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/ReviewsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/addrating/AddRatingContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/addrating/AddRatingFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/addrating/AddRatingPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/home/HomeAdapter.kt
  app/src/main/res/drawable/ic_person.xml
  app/src/main/res/drawable/ic_rate_review.xml
  app/src/main/res/drawable/shape_rating_bg.xml
  app/src/main/res/drawable/shape_sign_in_bg.xml
  app/src/main/res/layout/fragment_add_rating.xml
  app/src/main/res/layout/fragment_booth_details.xml
  app/src/main/res/layout/item_review.xml
  app/src/main/res/menu/menu_add_review.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  build.gradle
Labels: main feature

#57 SignIn할때 TOS, PP 동의 문구 추가
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/addrating/AddRatingFragment.kt
  app/src/main/java/com/hppk/toctw/ui/signin/SignInContract.kt
  app/src/main/java/com/hppk/toctw/ui/signin/SignInFragment.kt
  app/src/main/java/com/hppk/toctw/ui/signin/SignInPresenter.kt
  app/src/main/res/drawable/btn_google_signin_light_normal_mdpi.9.png
  app/src/main/res/drawable/ic_close.xml
  app/src/main/res/layout/fragment_sign_in.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#58 FIX - Details에서 로그인 한 경우 Developers에서 로그인해도 Staff Role을 얻을 수 없는 문제
  app/src/main/java/com/hppk/toctw/auth/UserPresenter.kt
  app/src/main/java/com/hppk/toctw/data/model/User.kt
Labels: bug

#59 sign out 버튼 위치 변경
  app/src/main/java/com/hppk/toctw/ui/settings/DevelopersFragment.kt
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsContract.kt
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsPresenter.kt
  app/src/main/res/layout/fragment_developers.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Labels: main feature

#69 [Review] Change first image layout in Home
  app/src/main/res/layout/item_home_header.xml
Labels: ui

#68 Booth 별 photo 적용
  app/src/main/java/com/hppk/toctw/data/model/Booth.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/res/drawable/img_booth_clay.PNG
  app/src/main/res/drawable/img_booth_coloring_book.webp
  app/src/main/res/drawable/img_booth_copier_game.webp
  app/src/main/res/drawable/img_booth_d_i_art.webp
  app/src/main/res/drawable/img_booth_dino.webp
  app/src/main/res/drawable/img_booth_find_parents.PNG
  app/src/main/res/drawable/img_booth_magic_show.webp
  app/src/main/res/drawable/img_booth_movie.PNG
  app/src/main/res/drawable/img_booth_my_letter.webp
  app/src/main/res/drawable/img_booth_paper_doll.webp
  app/src/main/res/drawable/img_booth_parents.webp
  app/src/main/res/drawable/img_booth_photo_zone.webp
  app/src/main/res/drawable/img_booth_vr.PNG
  app/src/main/res/layout/fragment_booth_details.xml
Labels: main feature

#70 Chlid의 avatar 이미지 저장을 res id 방식에서 res name으로 변경
  app/src/main/java/com/hppk/toctw/common/Commons.kt
  app/src/main/java/com/hppk/toctw/data/model/Stamp.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildContract.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/children/avatars/AvatarsAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/children/avatars/AvatarsDialog.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/StampsFragment.kt
Labels: bug

#71 FIX - QR Code 찍고 앱 죽는 문제
  app/build.gradle
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCameraFragment.kt
Labels: bug

#77 로고 제거한 브랜치를 master로 머지
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hppk/toctw/ui/booth/BoothAdapter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/stamps/qrcamera/QRCameraFragment.kt
  app/src/main/res/drawable/feature_graphic.png
  app/src/main/res/drawable/ic_format_list.xml
  app/src/main/res/drawable/ic_photo.xml
  app/src/main/res/drawable/toctw2019.webp
  app/src/main/res/drawable/toctw2019_detail.webp
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/layout/drawer_header.xml
  app/src/main/res/layout/fragment_booth_details.xml
  app/src/main/res/layout/fragment_info_lunch.xml
  app/src/main/res/layout/item_booth_list.xml
  app/src/main/res/layout/item_home_header.xml
  app/src/main/res/menu/menu_booth_list.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: main feature

#78 Staff dialog의 String 오류 수정
  app/src/main/res/layout/dialog_staff_booth.xml
Labels: bug

#81 FIX - Stamp를 찍은 Child 삭제 안되는 문제
  app/src/main/java/com/hppk/toctw/data/repository/ChildrenRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ChildStampDao.kt
  app/src/main/java/com/hppk/toctw/data/source/local/LocalChildStampDao.kt
  app/src/main/java/com/hppk/toctw/ui/children/ChildrenFragment.kt
  app/src/main/java/com/hppk/toctw/ui/children/add/AddChildFragment.kt
  app/src/main/res/drawable/ic_close_white.xml
  app/src/main/res/layout/item_child.xml
Labels: bug

#82 전체 Review 리스트를 보여줄 수 있는 별도 화면 분리
  app/src/main/java/com/hppk/toctw/data/repository/ReviewRepository.kt
  app/src/main/java/com/hppk/toctw/data/source/ReviewDao.kt
  app/src/main/java/com/hppk/toctw/data/source/impl/FirestoreReviewDao.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/BoothDetailsPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/addrating/AddRatingPresenter.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/reviews/ReviewsContract.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/reviews/ReviewsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/details/reviews/ReviewsPresenter.kt
  app/src/main/res/color/selector_more_button.xml
  app/src/main/res/drawable-tvdpi/selector_more_button.xml
  app/src/main/res/drawable/shape_primary.xml
  app/src/main/res/drawable/shape_primary_dark.xml
  app/src/main/res/layout/fragment_booth_details.xml
  app/src/main/res/layout/fragment_reviews.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: main feature

#83 행사 담당자 로그아웃 표시
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsContract.kt
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsFragment.kt
  app/src/main/java/com/hppk/toctw/ui/settings/SettingsPresenter.kt
  app/src/main/res/layout/fragment_booth_details.xml
  app/src/main/res/values/strings.xml
Labels: refactoring

#84 InApp Update 기능 추가
  app/build.gradle
  app/src/main/java/com/hppk/toctw/ui/MainActivity.kt
Labels: main feature

#88 Favorite관련 Floating button 삭제 , option으로 이동
  app/src/main/java/com/hppk/toctw/ui/booth/BoothFragment.kt
  app/src/main/java/com/hppk/toctw/ui/booth/BoothPresenter.kt
  app/src/main/res/drawable/ic_star_white_disable.xml
  app/src/main/res/drawable/ic_star_white_enable.xml
  app/src/main/res/layout/fragment_booth.xml
  app/src/main/res/menu/menu_booth_list.xml
Labels: bug

#87 6층 e-club추가
  app/src/main/res/drawable/six_floor_e_club.webp
  app/src/main/res/values/colors.xml
Labels: main feature
